<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">C.V.</h2>
                    <h3 class="section-subheading text-muted">My curriculum vitae</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005 - 2008</h4>
                                    <h4 class="subheading">Universiti Kebangsaan Malaysia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Science (SmSn), majoring in Zoology <br> from Universiti Kebangsaan Malaysia <br>(The National University of Malaysia)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 - 2015</h4>
                                    <h4 class="subheading">University of Queensland</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Masters of Molecular Biology<br>PhD in Microbial Genomics</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2016</h4>
                                    <h4 class="subheading">Queensland University of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bioinformatician - human microbiome and fertility<br>Chlamydia genomics and epidemiology</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 - 2018</h4>
                                    <h4 class="subheading">The Roslin Institute<br>University of Edinburgh</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Postdoctoral Research Fellow<br>Genomic epidemiology of Legionnaires' disease in Scotland</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - present</h4>
                                    <h4 class="subheading">University of Edinburgh</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Postdoctoral Research Fellow <br>Genomic epidemiology of antimicrobial resistance in complex systems</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="img/about/CV_2019.pdf"><font color="fff7bc">Full<br>CV</font></a>
                                    </h4>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
