<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-xl-3 col-lg-3 col-md-3 col-s-3 col-centered text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Bryan is a core scientist at the Roslin Institute working with Chancellor’s Fellow Dr. Adrian Muwonge in the Digital One Health Laboratory. Bryan uses bioinformatic and data analysis techniques on biological and genomic sequence data to understand the evolution of pathogenicity and antibiotic resistance in bacteria.</p>
                    <p class="large text-muted">Bryan grew up in the Malaysian state of <a href="<a href="<a href="https://goo.gl/maps/oBoa5rBRvvo6WBDc7">Sarawak</a>  and currently lives in Edinburgh, Scotland.</p>
                </div>
            </div>
        </div>
    </section>
